{% load static %}
<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />

    <title>{{heading}} | C3 Web Mis </title>
    
    <!-- App favicon -->
    <link rel="icon" href="{% static 'images/favicon-32x32.png' %}">
    {% block css %}
    {% block extra_css %}
    {% endblock %}
    <!-- Bootstrap Css -->
    <link href="{% static 'css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
    
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet"
    type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet"
    type="text/css" />
    <link href="{% static 'libs/admin-resources/rwd-table/rwd-table.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />

    <link href="{% static 'libs/select2/dist/css/select2.min.css'%}" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet"
    type="text/css" />
    {% endblock css %}
   
</head>


<body data-sidebar="dark">
    {% if heading != 'Login' %}
    <!-- Begin page -->
    <div id="layout-wrapper">
        {% block header %}
        {% include 'partials/header.html' %}
        {% endblock %}
        {% block sidebar %}
        {% include 'partials/sidebar.html' %}
        {% endblock %}
        <button onclick="topFunction()" id="myBtn" class="bg-white border bg-gradient text-secondary border-secondary rounded-circle" title="Go to top"><i class="fas fa-arrow-up"></i></button>
        
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">   
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0 font-size-18">{{heading}}</h4>
                                <!-- <button onclick="topFunction()" id="myBtn" class="bg-warning bg-gradient text-white rounded-circle" title="Go to top"><i class="fas fa-arrow-up"></i></button> -->

                                

                            </div>
                        </div>
                    </div>
                    {% endif %}  
                    <!-- end page title -->
                    {% block contents %}

                    {% endblock %}
                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
           
        </div>
        <!-- end main content-->
    </div>
    <!-- END layout-wrapper -->
    {% block Subscribe %}
    {% endblock %} 

    {% block r_sidebar %}
    {% endblock %}

            {% block javascript %}
            
            <!-- JAVASCRIPT -->
            <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
            <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
            <script src="{% static 'libs/metismenu/dist/metisMenu.min.js' %}"></script>
            <script src="{% static 'libs/simplebar/dist/simplebar.min.js' %}"></script>
            <script src="{% static 'libs/node-waves/dist/waves.min.js' %}"></script>
            <script src="{% static 'libs/select2/dist/js/select2.min.js' %}"></script>
            <!-- form advanced init -->
            <script src="{% static 'js/pages/form-advanced.init.js'%}"></script>
            <script src="{% static 'js/pages/form-validation.init.js' %}"></script>
            <script src="{% static 'js/pages/sweet-alerts.init.js' %}"></script>
            <script src="{% static 'js/base.js' %}"></script>
            <!-- Responsive Table js -->
            <!-- Init js -->
            <script type="text/javascript">
                document.addEventListener('DOMContentLoaded', function() {
                    $("body").on("submit", "form", function() {
                        $(this).submit(function() {
                            return false;
                        });
                        return true;
                    });
                })
                // Get the button
                let mybutton = document.getElementById("myBtn");
                
                // When the user scrolls down 20px from the top of the document, show the button
                window.onscroll = function() {scrollFunction()};
                
                function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    mybutton.style.display = "block";
                } else {
                    mybutton.style.display = "none";
                }
                }
                
                // When the user clicks on the button, scroll to the top of the document
                function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
                }
                </script>

        {% block extra_javascript %}
        {% endblock %}
        <script src="{% static 'libs/sweetalert2/dist/sweetalert2.min.js' %}"></script>

            <script src="{% static 'js/app.js' %}"></script>    
            {% endblock javascript %}
        </body>

    </html>