<!--Section 10-->
<!--Details of VLCPC meetings-->

<div class="row" id="uccs-10">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <h4 class="card-title">Section 10:</h4>
                    <p class="card-title-desc">Details of VLCPC meetings</p>
                </div>
                {% if task_obj.task_status == 1 and 'Cluster Coordinator' == user_role %}
                <div class='d-flex mb-3 justify-content-end gap-2'>
                    <button type="button" class="btn btn-primary waves-effect waves-light" onclick="location.href='/cc-report/untrust/vlcpc-meeting-listing/{{task_id}}/'">
                         View
                    </button>
                    <button type="button" class="btn btn-success waves-effect waves-light" onclick="location.href='/cc-report/untrust/add-vlcpc-meeting/{{task_id}}/'">
                        Entry
                    </button>
                </div>
                {% endif %}
                <div class="table-rep-plugin">
                    <div class="table-responsive mb-0" data-pattern="priority-columns">
                       
                        <table id="tech-companies-1" class="table table-striped">
                            <thead>
                                <tr>
                                    <th rowspan="2">Name of Block</th>
                                    <th rowspan="2">Name of Panchayat</th>
                                    <th rowspan="2">Name of Village</th>
                                    <th rowspan="2">Name of AWC</th>
                                    <th rowspan="2">Date of mettings</th>
                                    <th rowspan="2">Issues discussed</th>
                                    <th rowspan="2">Decision taken</th>
                                    <th colspan="2">No. of Participants</th>
                                </tr>
                                <tr>
                                    <th>Planned</th>
                                    <th>Attended</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for v in vlcpc_metting %}
                                <tr>
                                    <th>{{v.awc_name.village.grama_panchayat.block}}</th>
                                    <th>{{v.awc_name.village.grama_panchayat}}</th>
                                    <th>{{v.awc_name.village}}</th>
                                    <th>{{v.awc_name}}</th>
                                    <td>{{v.date_of_meeting }}</td>
                                    <td>{{v.issues_discussed}}</td>
                                    <td>{{v.decision_taken}}</td>
                                    <td>{{v.no_of_participants_planned}}</td>
                                    <td>{{v.no_of_participants_attended}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
