{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<!-- Responsive Table css -->
<link href="{% static 'libs/admin-resources/rwd-table/rwd-table.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block contents %}
<!--Section 1-->
<!--Details of sessions conducted at Anganwadi level-->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <div class="table-rep-plugin">
                    <div class="table-responsive mb-0" data-pattern="priority-columns">
                        <table id="tech-companies-1" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Task Status</th>
                                    <th>Report Month & Year</th>
                                    <!-- <th>End Date</th> -->
                                    <th>User Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for t in task %}
                                <tr>
                                    <th><a href="{{report_site}}{{t.id}}/">{{t.name}}</a></th>
                                    <td>{{t.get_task_status_display}}</td>
                                    <td>{{t.start_date|date:'M'}}, {{t.start_date|date:'Y'}}</td>
                                    <!-- <td>{{t.end_date}}</td> -->
                                    <td>{{t.user.username}}</td>
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
{% endblock %}
{% block extra_javascript %}
        <!-- Responsive Table js -->
        <script src="{% static 'libs/admin-resources/rwd-table/rwd-table.min.js' %}"></script>

        <!-- Init js -->
    {% comment %} <script src="{% static 'js/pages/table-responsive.init.js' %}"></script> {% endcomment %}
{% endblock %}